<h1 align="center" style="color:white;background-color:#247881;padding:40px;margin-bottom:80px;border-radius:10px;font-family:Montserrat"> 
    K-Nearest Neighbors
</h1>

<h2 align="center" style="color:white;background-color:#30AADD;padding:20px;border-radius:10px;font-family:Montserrat"> 
    Import Libraries 
</h2>

In [15]:
# work with data
import pandas as pd
import numpy as np

# train_test_split library
from sklearn.model_selection import train_test_split

# algorithm
from sklearn.neighbors import KNeighborsClassifier

# pickle
import pickle

<h2 align="center" style="color:white;background-color:#30AADD;padding:20px;border-radius:10px;font-family:Montserrat"> 
    Import Dataset 
</h2>

In [16]:
# read dataset from sepecific folder

inputs = pd.read_csv("../../processed_data/recommendation/processed_crop_recommendation_inputs.csv")
outputs = pd.read_csv("../../processed_data/recommendation/processed_crop_recommendation_outputs.csv")

In [17]:
# trim first column

inputs = inputs.iloc[: , 1:]
outputs = outputs.iloc[: , 1:]

In [18]:
# print

inputs

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [19]:
# print

outputs

      crop_converted
0                 20
1                 20
2                 20
3                 20
4                 20
...              ...
2195               5
2196               5
2197               5
2198               5
2199               5

[2200 rows x 1 columns]

In [20]:
# mapped values from labelEncoder

mp = {
 0: 'apple',
 1: 'banana',
 2: 'blackgram',
 3: 'chickpea',
 4: 'coconut',
 5: 'coffee',
 6: 'cotton',
 7: 'grapes',
 8: 'jute',
 9: 'kidneybeans',
 10: 'lentil',
 11: 'maize',
 12: 'mango',
 13: 'mothbeans',
 14: 'mungbean',
 15: 'muskmelon',
 16: 'orange',
 17: 'papaya',
 18: 'pigeonpeas',
 19: 'pomegranate',
 20: 'rice',
 21: 'watermelon'
}

<h2 align="center" style="color:white;background-color:#30AADD;padding:20px;border-radius:10px;font-family:Montserrat"> 
    Apply KNN Algorithm
</h2>

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Utility class
</h4>

In [21]:
class c:
    HEADER      = '\033[95m'
    BLUE        = '\033[94m'
    CYAN        = '\033[96m'
    GREEN       = '\033[92m'
    WARNING     = '\033[93m'
    FAIL        = '\033[91m'
    ENDC        = '\033[0m'
    BOLD        = '\033[1m'
    UNDERLINE   = '\033[4m'

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Split data into training (80%) and testing (20%) sets
</h4>

In [22]:
# split into 80% train and 20% test

X_train, X_test, y_train, y_test = train_test_split(inputs, outputs, test_size = 0.2)

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Create object
</h4>

In [23]:
# create object of algorithm class and store in 'knn' variable

knn = KNeighborsClassifier(n_neighbors = 3)

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Train on training data
</h4>

In [24]:
# fitting means training the model using available data points

knn.fit(X_train, y_train.values.ravel())

KNeighborsClassifier(n_neighbors=3)

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Get recommendation on testing data
</h4>

In [25]:
# predict using testing data
reccomendation = knn.predict(X_test)

# label encoder back to string
final_result = []

for x in reccomendation:
    final_result.append(mp[x])

# convert back to np array
final_result = np.array(final_result)

print(f"\n{c.BOLD}Input:{c.ENDC}\n\n{X_test[0:5]}\n\n{c.BOLD}Recommended Output:{c.ENDC}\n\n{final_result[0:5]}\n")

Input:

        N   P   K  temperature   humidity        ph   rainfall
149    63  43  17    19.288899  65.470508  6.807488  71.319531
1922  107  42  24    22.046129  84.629783  6.144632  86.007587
525    36  56  20    25.412377  49.664743  7.437078  31.874170
1128   15  27  28    33.803987  46.128661  4.507524  90.825492
1116   37  38  32    31.857449  45.531063  5.417341  91.558458

Recommended Output:

['maize' 'cotton' 'mothbeans' 'mango' 'mango']

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Accuracy of model
</h4>

In [26]:
accuracy = knn.score(X_test, y_test)

print(f"\nAccuracy of K-Nearest Neighbors algorithm is: {c.BOLD}{round(accuracy * 100.0, 2)} %{c.ENDC}\n")

Accuracy of K-Nearest Neighbors algorithm is: 95.56 %

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Export model using pickle
</h4>

In [27]:
with open('../../model/recommendation/KNN_MODEL', 'wb') as f:
    pickle.dump(knn, f)