<h1 align="center" style="color:white;background-color:#247881;padding:40px;margin-bottom:80px;border-radius:10px;font-family:Montserrat"> 
    Decision Tree Regression
</h1>

<h2 align ="center" style="color:white;background-color:#30AADD;padding:20px;border-radius:10px;font-family:Montserrat"> 
    Import Libraries 
</h2>

In [444]:
# work with data
import pandas as pd
import numpy as np

# train_test_split library
from sklearn.model_selection import train_test_split

# algorithm
from sklearn.tree import DecisionTreeRegressor

# pickle
import pickle

<h2 align="center" style="color:white;background-color:#30AADD;padding:20px;border-radius:10px;font-family:Montserrat"> 
    Import Dataset 
</h2>

In [445]:
# read dataset from sepecific folder

inputs = pd.read_csv("../../processed_data/prediction/processed_yield_prediction_inputs.csv")
outputs = pd.read_csv("../../processed_data/prediction/processed_yield_prediction_outputs.csv")

In [446]:
# trim first column

inputs = inputs.iloc[: , 1:]
outputs = outputs.iloc[: , 1:]

In [447]:
# print

inputs

,Area,State_Name_Converted,Season_Converted,Crop_Converted,Soil_Type_Converted
0,1254.0,0,1,0,2
1,1254.0,0,1,0,2
2,1258.0,0,4,0,2
3,1261.0,0,4,0,2
4,1264.7,0,4,0,2
...,...,...,...,...,...
23315,5345.0,14,1,6,3
23316,5159.0,14,1,6,3
23317,6088.0,14,1,6,3
23318,6599.0,14,1,6,3
23319,500.0,14,1,6,3

In [448]:
# print

outputs

       Production
0         2000.00
1         2061.00
2         2083.00
3         1525.00
4          805.85
...           ...
23315     5960.00
23316     5543.00
23317     8493.00
23318     7842.00
23319      500.00

[23320 rows x 1 columns]

In [449]:
# mapped values from labelEncoder

state_map = {
 0: 'Andaman and Nicobar Islands',
 1: 'Andhra Pradesh',
 2: 'Arunachal Pradesh',
 3: 'Assam',
 4: 'Bihar',
 5: 'Chhattisgarh',
 6: 'Dadra and Nagar Haveli',
 7: 'Goa',
 8: 'Gujarat',
 9: 'Haryana',
 10: 'Himachal Pradesh',
 11: 'Jammu and Kashmir ',
 12: 'Karnataka',
 13: 'Kerala',
 14: 'Madhya Pradesh',
 15: 'Maharashtra',
 16: 'Manipur',
 17: 'Meghalaya',
 18: 'Mizoram',
 19: 'Nagaland',
 20: 'Odisha',
 21: 'Puducherry',
 22: 'Punjab',
 23: 'Rajasthan',
 24: 'Tamil Nadu',
 25: 'Telangana',
 26: 'Tripura',
 27: 'Uttar Pradesh',
 28: 'Uttarakhand',
 29: 'West Bengal'
}

season_map = {
 0: 'Autumn',
 1: 'Kharif',
 2: 'Rabi',
 3: 'Summer',
 4: 'Whole Year',
 5: 'Winter'
}

crop_map = {
 0: 'Arecanut', 
 1: 'Banana',
 2: 'Coconut',
 3: 'Cotton (lint)',
 4: 'Dry chillies',
 5: 'Dry ginger',
 6: 'Groundnut'
}

soil_map = {
 0: 'Laterite',
 1: 'loamy',
 2: 'Black',
 3: 'Clayey',
 4: 'Sandy'
}

<h2 align="center" style="color:white;background-color:#30AADD;padding:20px;border-radius:10px;font-family:Montserrat"> 
    Apply NB Algorithm
</h2>

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Utility class
</h4>

In [450]:
class c:
    HEADER      = '\033[95m'
    BLUE        = '\033[94m'
    CYAN        = '\033[96m'
    GREEN       = '\033[92m'
    WARNING     = '\033[93m'
    FAIL        = '\033[91m'
    ENDC        = '\033[0m'
    BOLD        = '\033[1m'
    UNDERLINE   = '\033[4m'

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Split data into training (70%) and testing (30%) sets
</h4>

In [451]:
# split into 70% train and 30% test

X_train, X_test, y_train, y_test = train_test_split(inputs, outputs, test_size = 0.33)

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Create object
</h4>

In [452]:
# create object of algorithm class and store in 'reg' variable

reg = DecisionTreeRegressor(random_state = 42)

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Train on training data
</h4>

In [453]:
# fitting means training the model using available data points

reg.fit(X_train, y_train)

DecisionTreeRegressor(random_state=42)

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Get recommendation on testing data
</h4>

In [454]:
# predict using testing data
recommendation = reg.predict(X_test)

inp = []
oup = []
cnt = 0

for x in X_test:
    col = []
    if(x == 'State_Name_Converted'):
        for y in X_test.State_Name_Converted:
            col.append(state_map[y])
    elif(x == 'Season_Converted'):
        for y in X_test.Season_Converted:
            col.append(season_map[y])
    elif(x == 'Crop_Converted'):
        for y in X_test.Crop_Converted:
            col.append(crop_map[y])
    elif(x == 'Soil_Type_Converted'):
        for y in X_test.Soil_Type_Converted:
            col.append(soil_map[y])
    else:
        for y in X_test.Area:
            col.append(y)
    inp.append(col)

inp = np.array(inp).T.tolist()

#===================== Print input =====================# 
print(f"\n\nArea,\tState_Name,\tSeason,\tCrop,   Soil_Type\n")
for x in inp:
    cnt += 1
    if (cnt == 6):
        break
    print(f"{c.BOLD}{x}{c.ENDC}")

#===================== Print output =====================# 
print("\n\nProduction in Kg\n")
cnt = 0
for x in recommendation:
    cnt += 1
    if(cnt == 6):
        break
    print(f"{c.BOLD}{(round(x,2))} Kg{c.ENDC}")

Area,	State_Name,	Season,	Crop,   Soil_Type

['5624.0', 'Karnataka', 'Whole Year', 'Coconut', 'Clayey']
['66.0', 'Madhya Pradesh', 'Kharif', 'Dry ginger', 'loamy']
['28033.0', 'Madhya Pradesh', 'Kharif', 'Cotton (lint)', 'Laterite']
['1225.0', 'Assam', 'Whole Year', 'Coconut', 'Clayey']
['12594.0', 'Karnataka', 'Rabi', 'Groundnut', 'Clayey']


Production in Kg

57116.0 Kg
90.0 Kg
44030.0 Kg
8118.0 Kg
10342.0 Kg

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Accuracy of model
</h4>

In [455]:
accuracy = reg.score(X_test, y_test)

print(f"\nAccuracy of Naive Bayes algorithm is: {c.BOLD}{round(accuracy * 100.0, 2)} %{c.ENDC}\n")

Accuracy of Naive Bayes algorithm is: 88.72 %

<h4 align="left" style="color:white;background-color:#94DAFF;padding:20px;margin-top:40px;border-radius:10px;font-family:Montserrat;display:inline-block;width:500px"> 
    Export model using pickle
</h4>

In [456]:
with open('../../model/prediction/DT_MODEL', 'wb') as f:
    pickle.dump(reg, f)